* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

/*  BASE STYLES */
html {
  font: 125% "Lato", sans-serif;
}

body {
  font-size: 1rem;
  background-color: #1e140e;
  color: #fafffe;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover, a.activePage {
  color: #ffc600;
}

button {
  border: none;
}

form input {
  font: 300 20px "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h3,
h4 {
  font-family: "Dokdo", cursive;
  color: #ffc600;
}

h1 {
  font-size: 115px;
  line-height: 100px;
}

.b h1,
.c h1 {
  font-size: 105px;
  letter-spacing: 10.9px;
  line-height: 69.6px;
}

h2 {
  font: 400 42px "Lato", sans-serif;
  margin: 0 0 0 15px;
  letter-spacing: 6px;
}

h3,
h4 {
  line-height: 58px;
}

h3 {
  font-size: 45px;
  letter-spacing: 4.9px;
}

h4 {
  font-size: 40px;
  letter-spacing: 4.3px;
}

h5 {
  font: 300 30px "Dokdo", cursive;
  letter-spacing: 4.6px;
}

header {
  background-size: cover;
}

img {
  width: 100%;
  display: block;
}

input,
textarea {
  background: transparent;
}

input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: 3px solid #ffc600;
}

textarea {
  border: 3px solid #ffc600;
  resize: none;
}

p {
  letter-spacing: 2px;
  line-height: 32px;
}

/*  ELEMENT STYLES  */
button.readMore {
  width: 100%;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.sectionContainerPadding {
  padding: 80px;
}

.imageFilterBox {
  /*  Box applies colour-correction to image to match PSD without editing original JPEG  */
  width: 100%;
  height: 100%;
  background-color: #ffc600;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.07;
}

.readMore {
  font: 1.6rem "Dokdo", cursive;
  color: #fff;
  background-color: #555f02;
  text-transform: capitalize;
  padding: 10px;
}

.readMore:hover {
  background-color: #ffc600;
  color: #262725;
}

.commentForm, .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.formField {
  width: calc(50% - 34px);
  height: 90px;
  margin-bottom: 50px;
  margin-left: 3px;
  /* Scooch it a bit to match textarea's dimensions + border */
  margin-right: 3px;
  padding-left: 40px;
}

.formText {
  width: 100%;
  height: 300px;
  padding: 40px;
  margin-bottom: 50px;
}

.formField,
.formText {
  color: #fff;
  font-weight: 400;
}

.formField::-webkit-input-placeholder,
.formText::-webkit-input-placeholder {
  color: #fff;
  font-weight: 400;
}

.formField:-ms-input-placeholder,
.formText:-ms-input-placeholder {
  color: #fff;
  font-weight: 400;
}

.formField::-ms-input-placeholder,
.formText::-ms-input-placeholder {
  color: #fff;
  font-weight: 400;
}

.formField::placeholder,
.formText::placeholder {
  color: #fff;
  font-weight: 400;
}

.visuallyHidden {
  position: absolute;
  height: 1px;
  width: 1px;
  opacity: 0;
}

/*  NAV */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100px;
}

.navButtonCheckBox {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
}

.navButtonBars {
  display: none;
  position: absolute;
}

.navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navLink {
  font: 600 20px "Lato", sans-serif;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
  list-style: none;
  text-transform: uppercase;
  margin-left: 70px;
}

.headerLogo {
  font: 41.5px "Dokdo", cursive;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  letter-spacing: initial;
}

.headerLogo a:hover {
  color: #fff;
}

/*  FOOTER  */
footer {
  background-color: #262725;
  padding-top: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}

.i {
  /*  INDEX - HEADER  */
  /*  INDEX - ABOUT */
  /*  INDEX - GALLERY */
  /*  INDEX - ABOUT 2 */
  /*  INDEX - INFO  */
  /*  INDEX - FREE TRIAL  */
}

.i header {
  background-image: url("../assets/indexHeaderBG.jpg");
  max-height: 760px;
  margin-bottom: 80px;
  background-position: right;
}

.i .headerIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 160px;
}

.i .headerImage {
  position: relative;
  width: 640px;
}

.i .headerText {
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 10px;
  z-index: 10;
}

.i .aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.i .aboutTextContainer {
  -ms-flex-preferred-size: 65%;
  flex-basis: 65%;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.i .aboutTextContainer h3 {
  margin: 0;
}

.i .aboutTextContainer .readMore {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.i .aboutImage {
  max-width: 315px;
}

.i .aboutImage img {
  -webkit-box-shadow: -20px 20px 0 #555f02;
  box-shadow: -20px 20px 0 #555f02;
}

.i .gallery {
  background-color: #262725;
}

.i .galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.i .galleryImage {
  margin: 0 20px;
  -ms-flex-preferred-size: calc((100% / 3) - 40px);
  flex-basis: calc((100% / 3) - 40px);
}

.i .about2Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.i .about2Box {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

.i .about2Icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #555f02;
  color: white;
  font-size: 1.3rem;
}

.i .about2TextBox {
  width: calc(100% - 50px);
  padding: 0 20px;
}

.i .aboutInfoSection {
  background-color: #262725;
}

.i .aboutInfoBoxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 120%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.i .aboutInfoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.i .aboutInfoText {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: calc(50% - 100px);
  flex-basis: calc(50% - 100px);
}

.i .aboutInfoPic {
  width: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.i .aboutInfoPic img {
  -webkit-box-shadow: 30px 30px 0 -10px #ffc600;
  box-shadow: 30px 30px 0 -10px #ffc600;
  position: relative;
}

.i .aboutInfoBox1 img {
  top: -50px;
}

.i .aboutInfoBox1,
.i .aboutInfoBox3 {
  margin-right: 50px;
}

.i .aboutInfoBox2,
.i .aboutInfoBox3 p {
  padding-right: 15%;
}

.i .aboutInfoBox2,
.i .aboutInfoBox4 {
  margin-left: 50px;
}

.i .aboutInfoBox2 a {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.i .aboutInfoBox3 {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 50px;
}

.i .aboutInfoBox3 p {
  padding-left: 20%;
}

.i .aboutInfoBox4 img {
  bottom: -50px;
}

.i .freeTrialsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.b {
  /*  BLOG  - HEADER  */
  /*  BLOG  - BLOG SECTION  */
  /*  BLOG  - BLOG SECTION  - COMMENTS  */
  /*  BLOG  - ASIDE */
}

.b header {
  background-image: url("../assets/blog-image-1.jpg");
  height: 500px;
  position: absolute;
  width: 100vw;
  background-position: right;
}

.b .blogHeader {
  margin-bottom: 50px;
  margin-left: 100px;
  font-weight: 400;
}

.b .blogSection {
  padding-top: 250px;
}

.b .blogSectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.b .blogBodyContainer {
  -ms-flex-preferred-size: calc(70% - 100px);
  flex-basis: calc(70% - 100px);
  margin-right: 100px;
  position: relative;
}

.b .blogContent {
  border-right: 8px solid #555f0e;
  border-bottom: 8px solid #555f0e;
  padding: 50px 50px 50px 125px;
}

.b .blogPicTop {
  -webkit-box-shadow: 30px 30px 0 -10px #555f02;
  box-shadow: 30px 30px 0 -10px #555f02;
  position: relative;
  top: -19px;
  right: 20px;
}

.b .blogPostHeader {
  line-height: 38px;
  margin-bottom: 20px;
}

.b .blogPostDate {
  font-style: italic;
  margin: 0 0 40px;
  font-size: 0.9em;
}

.b .blogPostAuthor {
  font-weight: 600;
}

.b .blogPostAuthor:hover {
  color: #ffc600;
  text-decoration: underline;
}

.b .blogCommentContainer {
  padding: 50px 50px 50px 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.b .blogCommentHeader {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 50px;
}

.b .blogCommentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.b .blogCommentPic {
  width: 96px;
  height: 100%;
  margin-right: 45px;
  overflow: hidden;
}

.b .blogCommentPic img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.b .blogCommentDate,
.b .blogCommentText {
  width: calc(100% - 146px);
}

.b .blogCommentDate {
  color: #ffc600;
  font-weight: 600;
  margin: 0;
  line-height: 25px;
}

.b .blogCommentText {
  margin-bottom: 0;
}

.b .formField::-webkit-input-placeholder,
.b .formText::-webkit-input-placeholder {
  opacity: 1;
}

.b .formField:-ms-input-placeholder,
.b .formText:-ms-input-placeholder {
  opacity: 1;
}

.b .formField::-ms-input-placeholder,
.b .formText::-ms-input-placeholder {
  opacity: 1;
}

.b .formField::placeholder,
.b .formText::placeholder {
  opacity: 1;
}

.b .blogAside {
  -ms-flex-preferred-size: calc(30% - 100px);
  flex-basis: calc(30% - 100px);
  margin: 300px 0 auto 100px;
  padding-bottom: 10px;
  background-color: #555f02;
}

.b .blogAsideText {
  padding-left: 20px;
  padding-right: 20px;
}

.b .blogAsideText h5:nth-of-type(2) {
  margin-top: 40px;
}

.b .blogAsideImage {
  position: relative;
  width: calc(100% - 20px);
}

.b .blogAsideImage img {
  position: relative;
  top: -20px;
  left: 20px;
  max-width: 368px;
}

.b .blogAsideRecent h5 {
  padding-left: 20px;
}

.b .blogAsideList {
  padding-left: 15px;
}

.b .blogAsideList li {
  font: 20px "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  list-style: none;
}

.b .blogAsideList li::before {
  color: #ffc600;
  content: "\2022";
  margin-right: 10px;
}

.c {
  /*  CONTACT - HEADER  */
  /*  CONTACT - CONTACT FORM  */
  /*  CONTACT - CONTACT FORM ASIDE  */
}

.c header {
  background-image: url("../assets/contact-image-1.jpg");
  height: 500px;
}

.c .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  top: -200px;
  padding: 40px 80px;
  height: 700px;
}

.c .contactHeader {
  position: relative;
  top: -50px;
  left: 100px;
  font-weight: 400;
}

.c .contactFormContainer {
  -ms-flex-preferred-size: calc(70% - 100px);
  flex-basis: calc(70% - 100px);
  margin-right: 100px;
  position: relative;
}

.c .contactForm {
  background-color: #262725;
}

.c .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 75px;
  -webkit-box-shadow: 30px 30px 0 -10px #ffc600;
  box-shadow: 30px 30px 0 -10px #ffc600;
}

.c .contactAside {
  -ms-flex-preferred-size: calc(30% - 100px);
  flex-basis: calc(30% - 100px);
  margin: 300px 0 auto 100px;
  padding-bottom: 10px;
}

.c .contactEmail {
  margin: 30px 0;
}

.c .contactInfo p {
  margin: 0;
  padding: 0;
}

.c .socialButtons i {
  font-size: 1.2rem;
  margin-right: 25px;
}

.c .socialButtons a {
  color: #ffc600;
}

.c .socialButtons a:hover {
  color: #fafffe;
}

@media only screen and (max-width: 1280px) {
  /*  ELEMENT STYLES  */
  .wrapper {
    max-width: 1280px;
  }
  /*  INDEX */
  .i {
    /*  INDEX - ABOUT */
    /*  INDEX - INFO  */
  }
  .i .aboutTextContainer {
    -ms-flex-preferred-size: calc(65% - 80px);
    flex-basis: calc(65% - 80px);
  }
  .i .aboutInfoText {
    padding: 40px;
    margin: 0;
    width: 100%;
    text-align: left;
  }
  .i .aboutInfoText p {
    padding: 0;
  }
  /*  BLOG  */
  .b {
    /*  BLOG - BLOG SECTION */
    /*  BLOG - ASIDE  */
  }
  .b .blogBodyContainer {
    margin-right: 0;
  }
  .b .blogAside {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin: 300px 0 auto;
  }
  /*  CONTACT */
  .c {
    /*  CONTACT - HEADER  */
    /*  CONTACT - CONTACT FORM  */
    /*  CONTACT - ASIDE */
  }
}

@media only screen and (max-width: 1024px) {
  /*  BASE STYLES */
  /*  ELEMENT STYLES  */
  .wrapper {
    max-width: 1024px;
  }
  .readMore {
    width: 50%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }
  /*  HEADER STYLES */
  header {
    height: 100vh;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navList {
    padding-left: 0;
  }
  .navLink {
    margin-left: 0;
    width: 105px;
  }
  /*  INDEX */
  .i {
    /*  INDEX - HEADER  */
    /*  INDEX - ABOUT */
    /*  INDEX - ABOUT2  */
    /*  INDEX - INFO  */
  }
  .i .headerImage {
    position: absolute;
    opacity: 0.25;
    border-radius: 350px 0 800px;
    overflow: hidden;
    width: 500px;
    top: unset;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .i .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
  }
  .i .aboutTextContainer {
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
    padding-right: 0;
    z-index: 10;
    width: 80%;
  }
  .i .aboutTextContainer h3 {
    width: 50%;
  }
  .i .aboutImage {
    position: absolute;
    border-radius: 0 350px 0 800px;
    overflow: hidden;
    right: 8%;
    top: 0;
    -webkit-box-shadow: 20px -30px 0 -10px #555f02;
    box-shadow: 20px -30px 0 -10px #555f02;
  }
  .i .aboutImage img {
    opacity: 0.5;
  }
  .i .about2Container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .i .about2Box {
    width: 95%;
  }
  .i .about2Box1,
  .i .about2Box3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: left;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .i .about2Box2,
  .i .about2Box4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    text-align: right;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .i .aboutInfoBoxContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .i .aboutInfoBox1 img {
    -webkit-box-shadow: 30px 30px 0 -10px #ffc600;
    box-shadow: 30px 30px 0 -10px #ffc600;
  }
  .i .aboutInfoBox2 h3,
  .i .aboutInfoBox2 .readMore {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .i .aboutInfoBox3 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .i .aboutInfoBox3 h3 {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: 70px;
  }
  .i .aboutInfoBox4 {
    margin-top: 40px;
    margin-bottom: 70px;
  }
  .i .aboutInfoBox4 img {
    -webkit-box-shadow: -30px -30px 0 -10px #ffc600;
    box-shadow: -30px -30px 0 -10px #ffc600;
  }
  .i .aboutInfoText2 h3 {
    text-align: center;
  }
  .i .aboutInfoPic {
    margin: 0;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  /*  BLOG  */
  .b {
    /*  BLOG - BLOG SECTION */
    /*  BLOG - COMMENTS */
    /*  BLOG - ASIDE  */
  }
  .b .blogSectionContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px 0 0 0;
  }
  .b .blogCommentContainer {
    padding: 50px;
  }
  .b .blogAside {
    margin: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .b .blogAsideRecent {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-left: 20px;
  }
  .b .blogAsideRecent ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 40px;
  }
  .b .blogAsideRecent li {
    line-height: 22px;
  }
  .b .blogAsideImage {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }
  .b .blogAsideText {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    padding: 20px 20px 20px 40px;
  }
  /*  CONTACT */
  .c {
    /*  CONTACT - HEADER  */
    /*  CONTACT - CONTACT FORM  */
    /*  CONTACT - ASIDE */
  }
}

@media only screen and (max-width: 768px) {
  /*  BASE STYLES */
  h1 {
    font-size: 70px;
  }
  h3 {
    font-size: 38px;
    letter-spacing: 4.6px;
    line-height: 48px;
  }
  h4 {
    line-height: 30px;
    font-size: 36px;
  }
  p {
    font-size: 0.9rem;
    line-height: 28px;
  }
  /*  ELEMENT STYLES  */
  .wrapper {
    max-width: 768px;
  }
  .sectionContainerPadding {
    padding: 40px;
  }
  .readMore {
    width: 100%;
  }
  /*  HEADER STYLES */
  header,
  .i header {
    overflow: hidden;
    max-height: 100vh;
    height: 100vh;
  }
  .navButtonBars {
    display: block;
    right: 40px;
    top: 30px;
    font-size: 2rem;
    -webkit-transform: scaleY(0.8);
    -ms-transform: scaleY(0.8);
    transform: scaleY(0.8);
    cursor: pointer;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .headerLogo {
    margin: auto;
    padding-right: 40px;
  }
  .navList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    background-color: #262725;
    width: 100vw;
    left: 150vw;
    height: calc(100vh - 100px);
    -ms-flex-pack: distribute;
    justify-content: space-around;
    bottom: 0;
    margin: 0;
    z-index: 999;
  }
  .navLink {
    margin-left: 0;
    width: 90%;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 2px ridge rgba(255, 255, 255, 0.1);
    border-bottom: 2px ridge rgba(255, 255, 255, 0.1);
  }
  /*  INDEX */
  .i {
    /*  INDEX - HEADER  */
    /*  INDEX - ABOUT */
    /*  INDEX - GALLERY */
    /*  INDEX - ABOUT2  */
    /*  INDEX - INFO  */
    /*  INDEX - FREE TRIAL  */
  }
  .i .headerIntro {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
  }
  .i .headerImage {
    top: 150px;
    width: 420px;
  }
  .i .aboutTextContainer {
    width: 100%;
  }
  .i .aboutTextContainer h3,
  .i .aboutTextContainer p,
  .i .aboutTextContainer a {
    width: 100%;
    text-align: center;
  }
  .i .aboutImage {
    opacity: 0.5;
  }
  .i .gallery {
    padding: 34% 0;
    position: relative;
  }
  .i .galleryImage {
    width: 40%;
    position: absolute;
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
    margin: 0;
  }
  .i .galleryImage1 {
    top: 8%;
    left: 6%;
  }
  .i .galleryImage2 {
    top: 20%;
    left: 30%;
  }
  .i .galleryImage3 {
    left: 54%;
    top: 42%;
  }
  .i .about2Section .sectionContainerPadding {
    padding: 20px;
  }
  .i .about2TextBox p {
    text-align: center;
  }
  .i .aboutInfoText {
    text-align: center;
  }
  .i .aboutInfoBox1 img {
    top: -20px;
  }
  .i .freeTrialsContainer {
    text-align: center;
  }
  /*  BLOG  */
  .b {
    /*  BLOG - BLOG SECTION */
    /*  BLOG - COMMENTS */
    /*  BLOG - ASIDE  */
  }
  .b .blogSection {
    padding-top: 180px;
  }
  .b .blogContent,
  .b .blogCommentContainer {
    padding: 40px 20px;
  }
  .b .blogCommentBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .b .blogCommentPic {
    height: unset;
  }
  .b .blogCommentDate {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .b .blogCommentText {
    width: 100%;
    margin-bottom: 40px;
  }
  .b .commentForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .b .formField,
  .b .formText {
    font-size: 0.9em;
  }
  .b .formField {
    height: 60px;
    width: calc(100% - 6px);
    padding: 0 20px;
  }
  .b .formText {
    width: 100%;
    padding: 20px;
  }
  .b .blogAside {
    max-width: 600px;
    margin: 20px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .b .blogAside li {
    height: unset;
    line-height: 30px;
    padding-left: 10px;
  }
  .b .blogAsideImage {
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
    width: 90%;
  }
  .b .blogAsideImage img {
    left: 15px;
  }
  .b .blogAsideText {
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
    padding: 20px;
    text-align: center;
  }
  .b .blogAsideText h5 {
    padding: 0;
  }
  .b .blogAsideRecent {
    padding-left: 0;
  }
  .b .blogAsideRecent h5 {
    text-align: center;
  }
  .b .blogAsideRecent .blogAsideList {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  /*  CONTACT */
  .c {
    /*  CONTACT - HEADER  */
    /*  CONTACT - CONTACT FORM  */
    /*  CONTACT - ASIDE */
  }
}

@media only screen and (max-width: 420px) {
  /*  BASE STYLES */
  h1 {
    font-size: 62px;
  }
  h2 {
    font-size: 35px;
    line-height: 8px;
  }
  h3 {
    line-height: 32px;
  }
  /*  ELEMENT STYLES  */
  .wrapper {
    max-width: 420px;
    min-width: 320px;
  }
  .sectionContainerPadding {
    padding: 20px 10px;
  }
  /*  HEADER STYLES */
  .headerLogo {
    display: none;
  }
  /*  INDEX */
  .i {
    /*  INDEX - HEADER  */
    /*  INDEX - ABOUT2  */
    /*  INDEX - INFO  */
  }
  .i .headerImage {
    display: none;
  }
  .i .headerText {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .i .about2Box {
    position: relative;
    width: 100%;
  }
  .i .about2Icon {
    width: 100px;
    height: 100px;
    font-size: 60px;
    position: absolute;
    top: 30px;
    left: calc(50% - 50px);
    opacity: 0.2;
  }
  .i .about2TextBox {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .i .aboutInfoPic {
    width: 100%;
  }
  .i .aboutInfoPic img {
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 0;
  }
  .i .aboutInfoBox3 h3 {
    margin: 0;
  }
  .i .aboutInfoText {
    padding: 40px 10px;
  }
  /*  BLOG  */
  .b {
    /*  BLOG - HEADER */
    /*  BLOG - ASIDE  */
  }
  .b .blogHeader {
    margin-left: 0;
    text-align: center;
  }
  .b .blogAsideText p, .b .blogAside li {
    font-size: .8em;
  }
  /*  CONTACT */
  .c {
    /*  CONTACT - HEADER  */
    /*  CONTACT - CONTACT FORM  */
    /*  CONTACT - ASIDE */
  }
}
