.b {
  position: relative;

  /*  BLOG  - HEADER  */

  header {
    background-image: url("../assets/blog-image-1.jpg");
    height: 500px;
  }

  /*  BLOG  - BLOG SECTION  */

  .blogHeader {
    position: relative;
    top: -50px;
    left: 100px;
    font-weight: 400;
  }

  .blogSectionContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: -200px;
  }

  .blogBodyContainer {
    flex-basis: calc(70% - 100px);
    margin-right: 100px;
    position: relative;
  }

  .blogContent {
    border-right: 8px solid #555f0e;
    border-bottom: 8px solid #555f0e;
    padding: 50px 50px 50px 125px;
  }

  .blogPicTop {
    box-shadow: 30px 30px 0 -10px $mudGreen;
    position: relative;
    top: -19px;
    right: 20px;
  }

  .blogPostDate {
    font-style: italic;
    margin: 0 0 40px;
    font-size: 0.9em;
  }

  .blogPostAuthor {
    font-weight: 600;
    &:hover {
      color: $marigold;
      text-decoration: underline;
    }
  }

  /*  BLOG  - BLOG SECTION  - COMMENTS  */

  .blogCommentContainer {
    padding: 50px 50px 50px 125px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .blogCommentHeader {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 50px;
  }

  .blogCommentBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }

  .blogCommentPic {
    width: 96px;
    height: 100%;
    margin-right: 45px;
  }

  .blogCommentDate,
  .blogCommentText {
    width: calc(100% - 146px);
  }

  .blogCommentDate {
    color: $marigold;
    font-weight: 600;
    margin: 0;
    line-height: 15px;
  }

  .blogCommentText {
    margin-bottom: 0;
  }

  .commentForm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .formField,
  .formText {
    &::placeholder {
      opacity: 1;
    }
  }

  /*  BLOG  - ASIDE */

  .blogAside {
    flex-basis: calc(30% - 100px);
    margin: 300px 0 auto 100px;
    padding-bottom: 10px;
    background-color: $mudGreen;
  }

  .blogAsideText {
    padding-left: 20px;
    padding-right: 20px;
    h5:nth-of-type(2) {
      margin-top: 40px;
    }
  }

  .blogAsideImage {
    position: relative;
    width: calc(100% - 20px);
    img {
      position: relative;
      top: -20px;
      left: 20px;
    }
  }

  .blogAsideList {
    padding-left: 15px;
  }

  .blogAsideList li {
    font: 20px $latoFont;
    line-height: 32px;
    letter-spacing: 2px;
    list-style: none;
    &::before {
      color: $marigold;
      content: "\2022";
      margin-right: 10px;
    }
  }
}
