@media only screen and (max-width: 1280px) {
  /*  ELEMENT STYLES  */

  .wrapper {
    max-width: 1280px;
  }

  /*  INDEX */

  .i {
    /*  INDEX - ABOUT */

    .aboutTextContainer {
      flex-basis: calc(65% - 80px);
    }

    /*  INDEX - INFO  */

    .aboutInfoText {
      padding: 40px;
      margin: 0;
      width: 100%;
      text-align: left;
      p {
        padding: 0;
      }
    }
  }

  /*  BLOG  */

  .b {
    /*  BLOG - BLOG SECTION */

    .blogBodyContainer {
      margin-right: 0;
    }

    /*  BLOG - ASIDE  */

    .blogAside {
      flex-basis: 30%;
      margin: 300px 0 auto;
    }
  }

  /*  CONTACT */

  .c {
    /*  CONTACT - HEADER  */

    .contactHeader {
      width: calc(100% - 100px);
    }

    /*  CONTACT - CONTACT FORM  */

    .contactContainer {
      flex-direction: column;
      padding-right: 0;
      padding-bottom: 0;
    }

    /*  CONTACT - ASIDE */

    .contactAside {
      margin: 80px 0;
      display: flex;
      justify-content: space-around;
      width: 80%;
      margin: 80px;
      align-items: center;
    }
    .contactInfo li {
      text-align: right;
    }
  }
}

@media only screen and (max-width: 1024px) {
  /*  BASE STYLES */

  /*  ELEMENT STYLES  */

  .wrapper {
    max-width: 1024px;
  }

  .readMore {
    width: 50%;
    align-self: center;
    text-align: center;
  }

  /*  HEADER STYLES */

  header {
    height: 100vh;
  }

  nav {
    flex-direction: column;
  }

  .navList {
    padding-left: 0;
  }

  .navLink {
    margin-left: 0;
    width: 105px;
  }

  /*  INDEX */

  .i {
    /*  INDEX - HEADER  */

    .headerImage {
      position: absolute;
      opacity: 0.25;
      border-radius: 350px 0 800px;
      overflow: hidden;
      width: 500px;
      top: unset;
      align-self: center;
    }
    /*  INDEX - ABOUT */

    .aboutContainer {
      flex-direction: column;
      position: relative;
    }

    .aboutTextContainer {
      flex-basis: unset;
      padding-right: 0;
      z-index: 10;
      width: 80%;
      h3 {
        width: 50%;
      }
    }

    .aboutImage {
      position: absolute;
      border-radius: 0 350px 0 800px;
      overflow: hidden;
      right: 8%;
      top: 0;
      box-shadow: 20px -30px 0 -10px $mudGreen;
      img {
        opacity: 0.5;
      }
    }

    /*  INDEX - ABOUT2  */

    .about2Container {
      flex-direction: column;
    }

    .about2Box {
      width: 95%;
    }

    .about2Box1,
    .about2Box3 {
      flex-direction: row;
      text-align: left;
      align-self: flex-start;
    }

    .about2Box2,
    .about2Box4 {
      flex-direction: row-reverse;
      text-align: right;
      align-self: flex-end;
    }

    /*  INDEX - INFO  */

    .aboutInfoBoxContainer {
      flex-direction: column;
    }

    .aboutInfoBox1 img {
      box-shadow: 30px 30px 0 -10px $marigold;
    }

    .aboutInfoBox2 {
      h3,
      .readMore {
        align-self: center;
      }
    }

    .aboutInfoBox3 {
      order: 1;
      h3 {
        align-self: center;
        margin-top: 70px;
      }
    }

    .aboutInfoBox4 {
      margin-top: 40px;
      margin-bottom: 70px;
      img {
        box-shadow: -30px -30px 0 -10px $marigold;
      }
    }

    .aboutInfoText2 h3 {
      text-align: center;
    }

    .aboutInfoPic {
      margin: 0;
      align-self: center;
    }
  }

  /*  BLOG  */

  .b {
    /*  BLOG - BLOG SECTION */

    .blogSectionContainer {
      flex-direction: column;
      padding: 40px 0 0 0;
    }

    /*  BLOG - COMMENTS */

    .blogCommentContainer {
      padding: 50px;
    }

    /*  BLOG - ASIDE  */

    .blogAside {
      margin: 80px;
      display: flex;
      flex-wrap: wrap;
    }

    .blogAsideRecent {
      flex-basis: 100%;
      padding-left: 20px;
      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 40px;
      }
      li {
        line-height: 22px;
      }
    }

    .blogAsideImage {
      flex-basis: 40%;
    }

    .blogAsideText {
      flex-basis: 60%;
      padding: 20px 20px 20px 40px;
    }
  }

  /*  CONTACT */

  .c {
    /*  CONTACT - HEADER  */

    .contactHeader {
      margin-left: 0;
      margin-right: 0;
      text-align: center;
      width: 100%;
    }

    /*  CONTACT - CONTACT FORM  */

    .contactContainer {
      padding-left: 0;
    }

    .contactFormContainer {
      margin: 0 40px 0 20px;
    }

    /*  CONTACT - ASIDE */

    .contactAside {
      width: calc(100% - 160px);
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  /*  BASE STYLES */

  h1 {
    font-size: 70px;
  }

  h3 {
    font-size: 38px;
    letter-spacing: 4.6px;
    line-height: 48px;
  }

  h4 {
    line-height: 30px;
    font-size: 36px;
  }

  p {
    font-size: 0.9rem;
    line-height: 28px;
  }

  /*  ELEMENT STYLES  */

  .wrapper {
    max-width: 768px;
  }

  .sectionContainerPadding {
    padding: 40px;
  }

  .readMore {
    width: 100%;
  }

  .formField,
  .formText {
    font-size: 0.9em;
  }

  .formField {
    height: 60px;
    width: calc(100% - 6px);
    padding: 0 20px;
  }

  .formText {
    width: 100%;
    padding: 20px;
  }

  /*  HEADER STYLES */

  header,
  .i header,
  .c header {
    overflow: hidden;
    max-height: 100vh;
    height: 100vh;
  }

  .navButtonBars {
    display: block;
    right: 40px;
    top: 30px;
    font-size: 2rem;
    transform: scaleY(0.8);
    cursor: pointer;
  }

  nav {
    flex-direction: column;
  }

  .headerLogo {
    margin: auto;
    padding-right: 40px;
  }

  .navList {
    flex-direction: column;
    position: absolute;
    background-color: #262725;
    width: 100vw;
    left: 150vw;
    height: calc(100vh - 100px);
    justify-content: space-around;
    top: 100px;
    margin: 0;
    z-index: 999;
    transition: left 0.5s;
  }

  input:checked ~ ul {
    left: 0;
  }

  .navLink {
    margin-left: 0;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px ridge rgba(255, 255, 255, 0.1);
    border-bottom: 2px ridge rgba(255, 255, 255, 0.1);
    a {
      width: 100%;
      height: 100%;
      padding: 0.75rem 0;
    }
    a:active,
    a:focus {
      background-color: $marigold;
      color: $charcoal;
    }
  }

  /*  INDEX */

  .i {
    /*  INDEX - HEADER  */

    .headerIntro {
      background-color: rgba(0, 0, 0, 0.5);
      height: 100vh;
      margin-top: 0;
    }

    .headerImage {
      top: 20px;
    }

    .headerText {
      margin-top: 180px;
      padding-left: 40px;
    }

    /*  INDEX - ABOUT */

    .aboutContainer {
      padding-top: 0;
    }

    .aboutTextContainer {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      h3,
      p,
      a {
        width: 100%;
        text-align: center;
      }
    }

    .aboutImage {
      opacity: 0.5;
    }

    /*  INDEX - GALLERY */

    .gallery {
      padding: 34% 0;
      position: relative;
    }

    .galleryImage {
      width: 40%;
      position: absolute;
      flex-basis: unset;
      margin: 0;
    }

    .galleryImage1 {
      top: 8%;
      left: 6%;
    }

    .galleryImage2 {
      top: 20%;
      left: 30%;
    }

    .galleryImage3 {
      left: 54%;
      top: 42%;
    }

    /*  INDEX - ABOUT2  */

    .about2Section .sectionContainerPadding {
      padding: 20px;
    }

    .about2TextBox p {
      text-align: center;
    }

    /*  INDEX - INFO  */

    .aboutInfoText {
      text-align: center;
    }

    .aboutInfoBox1 img {
      top: -20px;
    }

    /*  INDEX - FREE TRIAL  */

    .freeTrialsContainer {
      text-align: center;
    }
  }

  /*  BLOG  */

  .b {
    /*  BLOG - BLOG SECTION */

    .blogSection {
      padding-top: 180px;
    }

    .blogContent,
    .blogCommentContainer {
      padding: 40px 20px;
    }

    /*  BLOG - COMMENTS */

    .blogCommentBox {
      flex-direction: row;
    }

    .blogCommentPic {
      height: unset;
    }

    .blogCommentDate {
      align-self: flex-end;
    }

    .blogCommentText {
      width: 100%;
      margin-bottom: 40px;
    }

    .commentForm {
      flex-direction: column;
    }

    /*  BLOG - ASIDE  */

    .blogAside {
      max-width: 600px;
      margin: 20px;
      align-self: center;
      li {
        height: unset;
        line-height: 30px;
        padding-left: 10px;
      }
    }

    .blogAsideImage {
      flex-basis: unset;
      width: 90%;
      img {
        left: 15px;
      }
    }

    .blogAsideText {
      flex-basis: unset;
      padding: 20px;
      text-align: center;
      h5 {
        padding: 0;
      }
    }

    .blogAsideRecent {
      padding-left: 0;
      h5 {
        text-align: center;
      }
      .blogAsideList {
        justify-content: center;
      }
    }
  }

  /*  CONTACT */

  .c {
    /*  CONTACT - HEADER  */

    .contactHeader {
      font-size: 4rem;
      line-height: 60px;
    }

    /*  CONTACT - CONTACT FORM  */

    .contactContainer {
      padding-bottom: 40px;
    }

    .contactFormContainer {
      width: 100%;
      margin: 0;
    }

    .contactForm {
      padding: 40px 20px;
      box-shadow: none;
      margin: 0;
    }

    /*  CONTACT - ASIDE */

    .contactAside {
      margin-left: 20px;
      margin-right: 20px;
      width: calc(100% - 40px);
      flex-direction: column;
    }

    .internetContacts {
      text-align: center;
    }

    .socialButtons {
      padding-left: 20px;
    }

    .contactInfo li {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 420px) {
  /*  BASE STYLES */

  h1 {
    font-size: 62px;
  }

  h2 {
    font-size: 35px;
    line-height: 8px;
  }

  h3 {
    line-height: 32px;
  }

  /*  ELEMENT STYLES  */

  .wrapper {
    max-width: 420px;
    min-width: 320px;
  }

  .sectionContainerPadding {
    padding: 20px 10px;
  }

  /*  HEADER STYLES */

  .headerLogo {
    display: none;
  }

  /*  INDEX */

  .i {
    /*  INDEX - HEADER  */

    .headerImage {
      display: none;
    }

    .headerIntro {
      padding-top: 80px;
    }

    .headerText {
      padding: 0;
      margin-top: 120px;
      width: 100%;
      text-align: center;
    }

    /*  INDEX - ABOUT2  */

    .about2Box {
      position: relative;
      width: 100%;
    }

    .about2Icon {
      width: 100px;
      height: 100px;
      font-size: 60px;
      position: absolute;
      top: 30px;
      left: calc(50% - 50px);
      opacity: 0.2;
    }

    .about2TextBox {
      text-align: center;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    /*  INDEX - INFO  */

    .aboutInfoPic {
      width: 100%;
      img {
        box-shadow: none;
        top: 0;
      }
    }

    .aboutInfoBox3 h3 {
      margin: 0;
    }

    .aboutInfoText {
      padding: 40px 10px;
    }
  }

  /*  BLOG  */

  .b {
    /*  BLOG - HEADER */

    .blogHeader {
      margin-left: 0;
      text-align: center;
    }

    /*  BLOG - ASIDE  */

    .blogAsideText p,
    .blogAside li {
      font-size: 0.8em;
    }
  }
}
